extends layout

block content
  h1 Farmers
  if farmers.length > 0
    ul
      each farmer in farmers
        li
          a(href=`/farmers/${farmer.id}`)= farmer.name
  else
    p No farmers available
