doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Farmers Market Online Directory
    link(rel="stylesheet", href="/styles/style.css") // Include your CSS file
  body
    header
      h1 Farmers Market Online Directory
    nav
      ul
        li
          a(href="/") Home
        li
          a(href="/farmers") Farmers
        li
          a(href="/products") Products
        li
          a(href="/about") About
        li
          a(href="/contact") Contact
    main
      block content
    footer
      p Copyright © 2024 Farmers Market
