extends layout

block content
  h1 Products
  if products.length > 0
    ul
      each product in products
        li
          a(href=`/products/${product.id}`)= product.name
  else
    p No products available
